<form ng-submit="$ctrl.sendMessage()">
    <div class="send-wrap ">
        <input type="text" class="form-control send-message" ng-model="$ctrl.message.user" placeholder="Write your name" required/><br>
        <textarea ng-keydown="$ctrl.sendOnEnter($event)" class="form-control send-message" ng-model="$ctrl.message.text" rows="3" placeholder="Write a reply..." required></textarea>
    </div>
    <div class="btn-panel">
        <button type="submit" class=" col-lg-4 text-right btn   send-message-btn pull-right"><i class="fa fa-plus"></i> Send Message</button>
    </div>
    <div class="h5">
        You can send message by ctrl + Enter press on your keyboard
    </div>
</form>