import-selector {
    .flex-container {
        min-width: 400px;
        display: flex;
        flex-direction: column;
        color: #71787E;
        .header{
            text-align: center;
            border-bottom: 1px solid #71787E;
            padding: 10px;
        }
        .description{
            padding: 10px;
            border-bottom: 1px solid #71787E;
        }
        .type-wrapper{
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            border-bottom: 1px solid #71787E;
            .icon{
                color: #0275d8;
                font-size: 25px;
                margin: 0 10px;
                height: 100%;
            }
            .btn{
                margin: 10px;
                font-size: 12px;
            }
        }
    }
}

